# Ignore bin and Debug folders

[Bb]in/
[Dd]ebug/
[Vv]s/
/.vs/TicketEase/v17
/.vs/TicketEase/FileContentIndex/ea03466d-ac05-4de2-92e1-6b10a85b1b70.vsidx
/.vs/TicketEase/FileContentIndex/1c49997d-5d84-4970-b799-c96f4497522e.vsidx
*.vsidx
/.vs/TicketEase/FileContentIndex/72a13e5f-b666-488e-920f-aab3f9fdcd3c.vsidx
/.vs/TicketEase/FileContentIndex/72a13e5f-b666-488e-920f-aab3f9fdcd3c.vsidx
/.vs/TicketEase/FileContentIndex/72a13e5f-b666-488e-920f-aab3f9fdcd3c.vsidx
*.v2
/.vs/TicketEase/FileContentIndex/72a13e5f-b666-488e-920f-aab3f9fdcd3c.vsidx
/.vs/TicketEase/FileContentIndex/read.lock
/.vs/TicketEase/config/applicationhost.config
/TicketEase/obj/staticwebassets.pack.sentinel
/TicketEase.Application/obj/Debug/net6.0/TicketEase.Application.csproj.AssemblyReference.cache
/TicketEase.Common/obj/Debug/net6.0/TicketEase.Common.csproj.AssemblyReference.cache
/TicketEase.Domain/obj/Debug/net6.0/TicketEase.Domain.csproj.AssemblyReference.cache
/TicketEase.Persistence/obj/Debug/net6.0/TicketEase.Persistence.csproj.AssemblyReference.cache
*.bin
/TicketEase/obj/project.assets.json
*.cache
/TicketEase/obj/TicketEase.csproj.nuget.dgspec.json
*.props
*.targets
/TicketEase.Application/obj/project.assets.json
/TicketEase.Application/obj/TicketEase.Application.csproj.nuget.dgspec.json
/TicketEase.Domain/obj/project.assets.json
/TicketEase.Common/obj/project.assets.json
/TicketEase.Common/obj/TicketEase.Common.csproj.nuget.dgspec.json
/TicketEase.Domain/obj/TicketEase.Domain.csproj.nuget.dgspec.json
/TicketEase.Persistence/obj/project.assets.json
/TicketEase.Persistence/obj/TicketEase.Persistence.csproj.nuget.dgspec.json
